html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
body {
  /* min-height: 10000px; */
  overflow-x: hidden !important;
}

/* button up */
#my-btn-up {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
}
/* footer */
ul.link-footer {
  list-style: none;
  padding-left: 2px;
}
ul.link-footer li {
  margin: 0;
  padding: 0;
}
ul.link-footer li a {
  font-size: 12px;
  color: #adb5bd;
  margin: 0;
  padding: 0;
}
img.img-pembayaran {
  width: 40px;
  height: 20px;
  margin: 0 .15rem;
  border-radius: .35rem;
  cursor: pointer;
}

/* Home */
img.my-hero-img {
  width: 300px;
}
/* source code */
.nav-wrapper {
  width: 50%;
}
.card-img {
    position: relative;
}
img.my-img-card {
    width: 100%;
}
.my-harga {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

/* detail sc */
#carouselDetailSC .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23525f7f' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

#carouselDetailSC .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23525f7f' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
#card-tab-detail-sc .tab-pane, #card-tab-detail-sc .tab-pane p {
  font-size: 14px !important;
}
#card-tab-detail-sc .tab-pane ol, #card-tab-detail-sc .tab-pane ul {
  padding-left: 1rem;
}

#deskripsi_sc p {
  margin: 7px 0;
  font-weight: normal;
}

/* responsive */
@media (max-width: 576px) {
  /* Home */
  img.my-hero-img {
    width: 100%;
  }
  /* source code */
  .nav-wrapper {
    width: 100%;
  }
}
