* {
  --bg-main: #4f46e5;
  --bg-main-alt: #818cf8;
  --bg-white: #fff;
  --bg-white-alt: #eef2ff;
  --text-dark: #1e293b;
  --text-dark-alt: #94a3b8; 
  --text-dark-alt-2: #334155; 
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  transition: .5s;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-white-alt);
  min-height: 100vh;
}

/* navbar */
nav.my-nav {
  background-color: var(--bg-white);
  box-shadow: 1px 0 3px var(--text-dark-alt);
}

h1.my-nav-brand {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--bg-main);
}

/* main */
.img-lists {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.img-lists img.img-list {
  width: 5rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .3rem;
}
.img-lists img.img-list.img-active {
  border: 2px solid var(--bg-white);
}
.btn-img a.btn-wa {
  text-decoration: none;
  background-color: #16a34a;
  text-align: center;
  padding: .5rem;
  border-radius: .2rem;
  color: #fff;
}
.btn-img a.btn-wa:hover {
  background-color: #22c55e;
}
.btn-img a.btn-back {
  text-decoration: none;
  background-color: #dc2626;
  text-align: center;
  padding: .5rem;
  border-radius: .2rem;
  color: #fff;
}
.btn-img a.btn-back:hover {
  background-color: #ef4444;
}


/* info */
#info h2#info-title{
  font-size: 2rem;
}
h6.harga {
  font-size: 1.4rem;
  color: var(--bg-main);
  font-weight: 500;
}
#info p {
  color: var(--text-dark-alt-2);
  font-weight: 400;
}

/* mobile version */
@media screen and (max-width:680px){
  h1.my-nav-brand {
    font-size: 1.5rem;
  }

  /* info */
  #info h2#info-title{
    font-size: 1.8rem;
  }
  h6.harga {
    font-size: 1.2rem;
    color: var(--bg-main);
    font-weight: 500;
  }

}